Data sourced from wikipedia

In [ ]:
# import libraries

import pandas as pd

In [ ]:
data1 = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_food_energy_intake')
data2 = pd.read_html('https://simple.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density')

In [ ]:

# assign calories table to variable
calories = data1[1]
calories

    Rank  ... Average daily dietary energy consumption per capita (2006-08)[4]
    Rank  ...                                                       kilojoules
0      1  ...                                              15900
1      2  ...                                              15690
2      3  ...                                              15520
3      4  ...                                              15440
4      5  ...                                              15400
..   ...  ...                                                ...
170  168  ...                                               7870
171  169  ...                                               7740
172  170  ...                                               7700
173  171  ...                                               7030
174  172  ...                                               6650

[175 rows x 4 columns]

In [ ]:
# assign population density table to variable
density = data2[0]
density

     Rank  ...            Population source
     Rank  ...            Population source
0       â€“  ...  Official quarterly estimate
1       1  ...            Official estimate
2       2  ...            Official estimate
3       â€“  ...            Official estimate
4       â€“  ...                UN projection
..    ...  ...                          ...
250     â€“  ...           2012 census result
251     â€“  ...            Official estimate
252     â€“  ...            Official estimate
253  Rank  ...            Population source
254  Rank  ...            Population source

[255 rows x 9 columns]

In [ ]:
# rename calories columns
calories.columns = ['rank', 'country', 'calories', 'joules']
calories

    rank        country  calories  joules
0      1  United States      3800   15900
1      2        Austria      3750   15690
2      3         Greece      3710   15520
3      4        Belgium      3690   15440
4      5     Luxembourg      3680   15400
..   ...            ...       ...     ...
170  168         Zambia      1880    7870
171  169          Haiti      1850    7740
172  170        Comoros      1840    7700
173  171        Burundi      1680    7030
174  172        Eritrea      1590    6650

[175 rows x 4 columns]

In [ ]:
# rename density coloumns
density.columns = ['rank', 'country', 'areakm','areami','population','densitykm','densitymi','date','source']
density

     rank  ...                       source
0       â€“  ...  Official quarterly estimate
1       1  ...            Official estimate
2       2  ...            Official estimate
3       â€“  ...            Official estimate
4       â€“  ...                UN projection
..    ...  ...                          ...
250     â€“  ...           2012 census result
251     â€“  ...            Official estimate
252     â€“  ...            Official estimate
253  Rank  ...            Population source
254  Rank  ...            Population source

[255 rows x 9 columns]

In [ ]:
# drop calories columns
calories.drop(calories.filter(regex='rank').columns, axis=1, inplace=True)
calories

           country  calories
0    United States      3800
1          Austria      3750
2           Greece      3710
3          Belgium      3690
4       Luxembourg      3680
..             ...       ...
170         Zambia      1880
171          Haiti      1850
172        Comoros      1840
173        Burundi      1680
174        Eritrea      1590

[175 rows x 2 columns]

In [ ]:
# drop columns in density using column index
cols = [0,2,5,7,8]
density.drop(density.columns[cols],axis=1,inplace=True)
density

                               country  areami  population densitymi
0                        Macau (China)      13      696100     54799
1                               Monaco    0.78       38300     49107
2                            Singapore     279     5703600     20446
3                    Hong Kong (China)     427     7500700     17565
4           Gibraltar (United Kingdom)     2.6       33701     12836
..                                 ...     ...         ...       ...
250  Falkland Islands (United Kingdom)    4700        2563      0.54
251    Svalbard and Jan Mayen (Norway)   23706        2655      0.10
252                Greenland (Denmark)  836297       55877      0.08
253   Country (or dependent territory)     mi2  Population  pop./mi2
254   Country (or dependent territory)    Area  Population   Density

[255 rows x 4 columns]

In [ ]:
# merge calories and density tables

table = pd.merge(calories, density, on=['country'], how = 'left')
table

           country  calories   areami population densitymi
0    United States      3800  3796742  334783558        88
1          Austria      3750    32386    8902600       275
2           Greece      3710    50949   10724599       210
3          Belgium      3690    11849   11524454       973
4       Luxembourg      3680      998     613894       615
..             ...       ...      ...        ...       ...
170         Zambia      1880   290585   16405229        56
171          Haiti      1850    10450   11263077      1078
172        Comoros      1840      719     873724      1216
173        Burundi      1680    10740   11215578      1044
174        Eritrea      1590    46757    3497117        75

[175 rows x 5 columns]

In [ ]:
# Saving the result
table.to_csv('FAO_master_population.csv', encoding='latin1')